{% extends "base.html" %} {%block scripts%}
<script>
  $(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: [{%for data in names%}'{{data}}',{%endfor%}],
        datasets: [{
          label: '# of votes',
          data: [{%for data in count%}{{data}},{%endfor%}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
</script>

{%endblock scripts%} {% block content %}
<main>
  <div class="max-w-4xl mx-auto py-6 sm:px-6 lg:px-8">
    <div
      class="text-sm font-medium text-center text-gray-500 border-b border-gray-200"
    >
      <ul class="flex flex-wrap -mb-px">
        <li class="mr-2">
          <a
            href="{% url 'count_votes' %}"
            class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300"
            >Table</a
          >
        </li>
        <li class="mr-2">
          <a
            href="{% url 'chart_votes' %}"
            class="inline-block p-4 text-indigo-600 rounded-t-lg border-b-2 border-indigo-600 active"
            aria-current="page"
            >Chart</a
          >
        </li>
      </ul>
    </div>
    <div
      class="p-4 w-full text-center mb-4 bg-white rounded-lg border shadow-sm sm:p-8"
    >
      <div class="relative overflow-x-auto sm:rounded-lg p-2">
        <h1 class="mb-2 text-4xl font-bold text-gray-900">Result</h1>
        <canvas id="myChart" width="400" height="250"></canvas>
      </div>
    </div>
  </div>
</main>
{% endblock %}
