{% extends "base.html" %} {% block content %}
<main>
  <div class="max-w-4xl mx-auto py-6 sm:px-6 lg:px-8 text-center">
    <div
      class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
      role="alert"
    >
      <h1 class="mb-2 text-4xl font-bold text-red-700">Error</h1>
      <p class="mb-5 text-base text-red-700 sm:text-lg">{{error_message}}</p>
      <div
        class="justify-center items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4"
      >
        <a
          type="button"
          href="{% url 'home' %}"
          class="py-4 px-6 w-full sm:w-auto bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg text-white rounded-lg text-center"
        >
          <div class="text-left">
            <div class="font-sans text-md font-semibold">Back to homepage</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
