{% extends "base.html" %} {% block content %}
<!-- Constituency info -->

<main>
  <div class="max-w-4xl mx-auto py-6 sm:px-6 lg:px-8">
    <form action="{% url 'submit' %}" method="POST">
      {% csrf_token %}
      <h5 class="text-center text-2xl font-bold tracking-tight text-gray-900">
        Cast your vote
      </h5>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-gray-500 mt-8 text-center">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr>
              <th scope="col" class="px-6 py-4">Party Name</th>
              <th scope="col" class="px-6 py-4">Party Logo</th>
              <th scope="col" class="px-6 py-4">Candidate Name</th>
              <th scope="col" class="px-6 py-4">Vote</th>
            </tr>
          </thead>
          <tbody>
            {% for candidate in constituency.party_set.all %}
            <tr class="bg-white border-b">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
              >
                {{ candidate.party_name }}
              </th>
              <td class="px-6 py-6 font-medium text-gray-900 whitespace-nowrap">
                <img
                  src="{{ candidate.party_pic }}"
                  alt=""
                  height="42"
                  width="42"
                />
              </td>
              <td class="px-6 py-6 font-medium text-gray-900 whitespace-nowrap">
                {{ candidate.candidate }}
              </td>
              <td class="px-6 py-6">
                <button
                  name="candidate"
                  type="submit"
                  value="{{candidate.candidate}}"
                  class="py-2 px-6 font-medium rounded-md bg-indigo-700 text-white"
                >
                  Vote
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
  </div>
</main>
<!-- Constituency info end -->

{% endblock content %}
